<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单绑定</title>
</head>
<body>
<!--双向绑定v-model-->
<div id="div">
    <form autocomplete="off">
        姓名：<input type="text" name="username" v-model="username">
        <span> 显示双向绑定：{{username}}</span><br>
        年龄：<input type="number" name="age" v-model="age">
        <span> 显示双向绑定：{{age}}</span><br>
    </form>
</div>
</body>
<script src="../js/vue.js"></script>
<script>
    let vm = new Vue({
        el:"#div",
        data:{
            username:"张三",
            age:23
        }
    });
</script>
</html>