<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis的DTD约束-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rong.mapper.StudentMapper">
    <sql id="select">select * from student</sql>
    <select id="selectAll" resultType="student">
        <include refid="select"/>
    </select>
    <insert id="insertStudent" parameterType="student">
        insert into student value (#{sid},#{name},#{age},#{birthday});
    </insert>
    <delete id="deleteStudent" parameterType="int">
        delete
        from student
        where sid = #{sid};
    </delete>
    <update id="updateStudent" parameterType="student">
        update student
        set name=#{name},
            age=#{age},
            birthday=#{birthday}
        where sid = #{sid};
    </update>

    <select id="getOne" resultType="student">
        select *
        from student
        where sid = #{id}
          and name = #{na};
    </select>
    <select id="getOne2" parameterType="map" resultType="student">
        select *
        from student
        where sid = #{id}
          and name = #{na};
    </select>
    <select id="selectCondition" resultType="student" parameterType="student">
        <include refid="select"/>
        <where>
            <if test="sid != null">
                sid=#{sid}
            </if>
            <if test="age != null">
                and age=#{age}
            </if>
            <if test="name != null">
                and name=#{name}
            </if>
        </where>
    </select>
    <select id="selectByIds" resultType="student" parameterType="list">
        select * from student
        <where>
            <foreach collection="list" open="sid in (" close=")" item="sid" separator=",">
                #{sid}
            </foreach>
        </where>
    </select>
</mapper>