<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis的DTD约束-->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"/>
    <environments default="one">
        <environment id="one">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper class="com.rong.mapper.CardMapper"/>
        <mapper class="com.rong.mapper.PersonMapper"/>
        <mapper class="com.rong.mapper.ClassesMapper"/>
        <mapper class="com.rong.mapper.Student2Mapper"/>
        <mapper class="com.rong.mapper.CourseMapper"/>
    </mappers>
</configuration>